<div class="container sm cirro-list">
	<h1>{{link-to '34°' 'client.34-degrees'}}</h1>
	<h1>{{link-to 'dotFolio' 'project.dotfolio'}}</h1>
	<h1>{{link-to 'Dynia' 'client.dynia'}}</h1>
	<h1>{{link-to 'Gates Family Foundation' 'client.gates-family-foundation'}}</h1>
	<h1>{{link-to 'For Love & Lemons' 'client.for-love-and-lemons'}}</h1>
	<h1>{{link-to 'Play + Record' 'client.play-plus-record'}}</h1>
</div>